<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<!--suppress XmlHighlighting -->
<module value="Checker">

    <!--Расширение файла должно быть java, properties, xml-->
    <property value="fileExtensions" value="java, properties, xml"/>

    <!-- Checks for Size Violations.                    -->
    <!-- See http://checkstyle.sf.net/config_sizes.html -->
    <module value="FileLength"/>

    <!-- Checks for Headers                                -->
    <!-- See http://checkstyle.sf.net/config_header.html   -->
    <!-- <module value="Header"> -->
    <!--   <property value="headerFile" value="${checkstyle.header.file}"/> -->
    <!--   <property value="fileExtensions" value="java"/> -->
    <!-- </module> -->

    <module value="TreeWalker">

        <!-- Checks for Naming Conventions.                  -->
        <!-- See http://checkstyle.sf.net/config_naming.html -->
        <module value="ConstantName"/>
        <!--<module value="LocalFinalVariableName"/>-->
        <module value="LocalVariableName"/>
        <module value="MemberName"/>
        <module value="MethodName"/>
        <module value="PackageName">
            <property value="format" value="^[a-z]+(\.[a-z0-9]*)*$"/>
        </module>
        <module value="ParameterName"/>
        <module value="StaticVariableName"/>
        <module value="TypeName"/>

        <!-- Checks for Size Violations.                    -->
        <!-- See http://checkstyle.sf.net/config_sizes.html -->
        <!--<module value="LineLength"/>-->
        <module value="MethodLength"/>
        <module value="ParameterNumber"/>

        <!-- Checks for whitespace                               -->
        <!-- See http://checkstyle.sf.net/config_whitespace.html -->
        <module value="EmptyForIteratorPad"/>
        <module value="GenericWhitespace"/>
        <module value="MethodParamPad"/>
        <module value="NoWhitespaceAfter"/>
        <module value="NoWhitespaceBefore"/>
        <module value="OperatorWrap"/>
        <module value="ParenPad"/>
        <module value="TypecastParenPad"/>
        <module value="WhitespaceAfter"/>
        <module value="WhitespaceAround"/>

        <!-- Modifier Checks                                    -->
        <!-- See http://checkstyle.sf.net/config_modifiers.html -->

        <!-- Checks for blocks. You know, those {}'s         -->
        <!-- See http://checkstyle.sf.net/config_blocks.html -->
        <module value="AvoidNestedBlocks"/>
        <module value="EmptyBlock"/>
        <module value="LeftCurly"/>
        <module value="NeedBraces"/>
        <module value="RightCurly"/>

        <!-- Checks for common coding problems               -->
        <!-- See http://checkstyle.sf.net/config_coding.html -->
        <!--<module value="AvoidInlineConditionals"/>-->
        <module value="EmptyStatement"/>
        <module value="EqualsHashCode"/>
        <!--<module value="HiddenField"/>-->
        <module value="IllegalInstantiation"/>
        <module value="InnerAssignment"/>
        <!--<module value="MagicNumber"/>-->
        <module value="MissingSwitchDefault"/>
        <module value="SimplifyBooleanExpression"/>
        <module value="SimplifyBooleanReturn"/>

        <!-- Checks for class design                         -->
        <!-- See http://checkstyle.sf.net/config_design.html -->
        <!--<module value="DesignForExtension"/>-->
        <!--<module value="FinalClass"/>-->
        <!--<module value="HideUtilityClassConstructor"/>-->
        <module value="InterfaceIsType"/>

        <!-- Miscellaneous other checks.                   -->
        <!-- See http://checkstyle.sf.net/config_misc.html -->
        <module value="ArrayTypeStyle"/>
        <!--<module value="FinalParameters"/>-->
        <module value="TodoComment"/>
        <module value="UpperEll"/>

    </module>

</module>
