.closeButton-error {
    cursor: pointer;
    float: right;
    font-size: 20px;
    color: white;
}
.confirm-modal-overlay {
    background: rgba(0,0,0,0.2);
    position: fixed;
    display: none;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    perspective: 500px;
    /*запрет выделения текста*/
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer (не поддерживается) */
    -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
}

.confirm-modal-overlay .confirm-modal-wrapper {
    position: absolute;
    width: 300px;
    top: 15%;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.4);
    border-radius: 10px;
}

.confirm-modal-header {
    background: #a00f00;
    padding-top: 5px;
    padding-bottom: 5px;
    color:#CBCBCB;
    width: 300px;
    border-radius: 10px 10px 0 0;
}

.header-content {
    margin-left: 10px;
}

.confirm-modal-body {
    display: table;
    height: 75%;
    background: rgb(235, 235, 235);

}
.confirm-modal-footer {
    background: rgb(235, 235, 235);
    bottom: 0px;
    min-width: 300px;
    height: 50px;
    border-radius: 0 0 10px 10px;
}

.confirm-info-field {
    display: table-cell;
    width: 300px;
    vertical-align: middle;
    margin: 0;
    padding: 15px;
    background: rgb(235, 235, 235);
    font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-weight: bold;
    text-overflow:ellipsis;
    font-size: 18px; /*масштабируемый размер шрифта*/
    line-height: 18px;
}

.ok-button {
    margin-left: 30px;

}

.cancel-button {
    margin-left: 15px;
}

